name: OWASP ZAP Scan
on:
  push:
    branches: [ "main" ]
jobs:
  zap_scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run OWASP ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.10.0
        with:
          target: 'https://shivanggupta23.github.io/devops_lab4'
